/*_info.txt
/1_*.*
/7_*.*
/test_cases/answers_expected_all_cases.txt
/test_cases/combined_output_all_cases.txt
/test_cases/output_log_test_case_*.txt
/votefair_ranking.exe
/*_documentation.txt
/test_cases/output_votefair_ranking_test_case_*.txt
